
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="my-4">Group Details</h1>

      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
            <td><%= @group.name %></td>
          </tr>
          <tr>
            <th>Created At</th>
            <td><%= @group.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          </tr>
          <tr>
            <th>Updated At</th>
            <td><%= @group.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
          </tr>
        </tbody>
      </table>

      <div class="my-3">
        <%= link_to 'Edit Group', edit_group_path(@group), class: 'btn btn-primary' %>
        <%= button_to 'Delete Group', group_path(@group), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>

      <%= link_to 'Back to Groups', groups_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
<!-- Other content of the show.html.erb file -->

<!-- Add this section to render the expense partial for each expense in the group -->
<h2 class="my-4">Expenses</h2>
<% if @group.expenses.any? %>
  <% @group.expenses.each do |expense| %>
    <%= render 'expenses/expense', expense: expense %>
  <% end %>
<% else %>
  <p class="alert alert-info">There are no expenses for this group. Add a new expense!</p>
<% end %>

<!-- Render the form partial for creating a new expense -->
<%= render 'expenses/form', group: @group, expense: @group.expenses.build %>

